.bg-primary {
    background-color: $primary !important;
}

black {
    color: $primary !important;
}

a {
    color: $primary;
    &:hover,
    &:focus,
    &:active {
        color: darken($primary, 15%);
    }
}