section.woosh-section {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    max-width: 75rem;
    .woosh-item {
        .woosh-content {}
        .woosh-date {
            min-width: none;
        }
    }
}

@media (min-width: 768px) {
    section.woosh-section {
        min-height: 100vh;
        .woosh-item {
            .woosh-date {
                min-width: 18rem;
            }
        }
    }
}

@media (min-width: 992px) {
    section.woosh-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}